<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
    <input id="msg" value="" />
    <input type="submit" value="发送" onclick="start()">
    <input type="submit" value="关闭" onclick="close()">
    <label><input name="clientId" type="radio" value="0" />广播</label>
    <label><input name="clientId" type="radio" value="1" />私聊</label>
    <div id="message"></div>

    
    <script>
        let id = prompt('请输入 id ');
        id = id + '_' + getFormatDate();
        console.log(id);

        let data ;
        $.ajaxSettings.async=false;
        $.post('http://192.168.218.30:9000',
            {
                method:'login',
                id:id
            },function(msg){
                data = msg;
            }, "json"
        );

        console.log(data);

        //创建一个webSocket 实例
        var wsServer = `ws://${data.url}/index`;

        // 这是websocket的传参方式
        var websocket  = new WebSocket(wsServer, [data.token]);
        // var websocket  = new WebSocket(wsServer);

        websocket.onopen = function (evt) {
            console.log("open:" + sockState());
            websocket.send(`{"method":"serverBroadcast","msg":"大家好我是${id}","type":"up"}`);
            document.getElementById("message").innerHTML = `<p>连接到服务器：${data.url}~</p>`;
        };

        websocket.onclose = function (evt) {
            document.getElementById("message").innerHTML = "<p>已断开连接!</p>";
            console.log("close:" + sockState());
            websocket.close();
        };

        // 接收信息
        websocket.onmessage = function (evt) {
            console.log("onMessage");
            var data = eval('(' + evt.data + ')');
            console.log(data);
            document.getElementById("message").innerHTML += "<p>响应信息:" + data.msg + "</p>"
        };

        // 连接失败
        websocket.onerror = function (evt, e) {
            document.getElementById("message").innerHTML = "<p>close</p>";
            console.log('错误信息: ' + evt.data);
        };
        
        // 连接状态
        function sockState() {
            var status = ['未连接', '连接成功，可通讯', '正在关闭', '连接已关闭或无法打开'];
            return status[websocket.readyState];
        }

        // 当前时间
        function getFormatDate() {
            var nowDate = new Date();
            var year = nowDate.getFullYear();
            var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
            var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
            var hour = nowDate.getHours() < 10 ? "0" + nowDate.getHours() : nowDate.getHours();
            var minute = nowDate.getMinutes() < 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
            var second = nowDate.getSeconds() < 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
            return year + "" + month + "" + date + "" + hour + "" + minute + "" + second;
        }
        
        // 点击发送事件
        function start(event) {
            console.log(websocket);
            // 消息
            var msg = document.getElementById('msg').value;
            // 发送类型
            // var clientId = document.getElementById('clientId').value;
            var clientId = $("input[name='clientId']:checked").val();;
            // 情况数据
            document.getElementById('msg').value = '';
            // document.getElementById('clientId').value = '';
            // 连接状态
            console.log("send:" + sockState());
            console.log("msg=" + msg);
            // 数据格式化
            let data ;
            if (clientId == "") {
                // 为广播
                // websocket.send();
                data = `{"method":"serverBroadcast","msg":"${msg}"}`;
            } else {
                // 为私聊
                data = `{"method":"privateChat","msg":"${msg}","clientId":"${clientId}"}`
            }
            console.log(data);
            // 开始发送
            websocket.send(data);
            document.getElementById("message").innerHTML += "<p>request" + msg + "</p>"
        };

        // 断开连接
        function close(event) {
            websocket.close();
        }
    </script>
</body>
</html>